<div class="container signupview">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1 class="margin-top-0 wow fadeIn text-center">Mot de passe oublié ?</h1>
      <hr class="primary">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        placeholder: "johndoe@gmail.com",
                        error: "L'email est requis",
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "M'envoyer les instructions de réinitilisation", class: "btn btn-primary fullwidthbutton" %>
          </div>
        <% end %>

         <div class="text-center linksshared"><%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>
