<div class="container">
  <div>
    <h1><%= @bike.category %></h1>
    <h2><%= @bike.description %></h2>
    <%= cl_image_tag @bike.photo, height: 300, width: 400, crop: :fill %>
  </div>
  <div>

 <% if @coming_rents.count == 0 %>
  <h2> "J'attends votre réservation..." </h2>
  <% elsif @coming_rents.count < 3 %>
  <h2> "N'attendez pas pour me réserver...." </h2>
  <% else %>
  <h2> "Je suis très demandé..." </h2>
  <% end %>

  <ul>
  <% @periods.each do |booking| %>
    <% if booking[0].to_date >= Date.today %>
      <li><%= "Je suis réservé du #{booking[0].to_date} au #{booking[1].to_date}" %>
        <% end %>
        </li>
  <% end %>
  </ul>
</div>
  <div>
    <h1>Louer ce vélo</h1>
      <%= simple_form_for [@bike, @rent] do |f| %>
      <%= f.input :period, label: "Votre période de location", placeholder: "Sélectionnez votre période..." %>
      <%= f.submit "Confirmez votre réservation", class: "btn btn-primary btn-lg btn-block btn-booking" %>
      <% end %>
  </div>

<div>
   <%= link_to "Retourner à l'accueil", bikes_path, class: "btn btn-primary"%>
</div>
</div>
<div id="periods" data-periods="<%= @periods.to_json %>"></div>
