<header id="first">
   <div class="header-content">
       <div class="inner">
           <h1 class="cursive">Louez facilement votre vélo</h1>
           <hr>
      <a href="#rentabike" class="btn btn-primary btn-xl">Louer un vélo</a>&nbsp; <a href="#one" class="btn btn-primary btn-xl page-scroll">Louer ton vélo</a>
      <br>
           <a href="#" class="btn btn-primary btn-xl geolocalisation">Me géolocaliser <i class="fas fa-map-marker-alt"></i></a>
       </div>
   </div>
</header>
<div class= "container">
  <div class="cards_geoloc">
    <%= simple_form_for 'search', :url => root_path, :method => :get do |f| %>
      <%= f.input :address, label: 'Choix de votre ville', collection: ["Paris", "Lyon", "Lille"] %>
      <%= f.button :submit, 'Rechercher', class: "btn btn-primary fullwidthbutton" %>
    <% end %>

    <div class = "row">
      <div class="col-lg-08 col-lg-offset-2">
        <div
          id="map"
          style="width: 70%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>

<section id="rentabike">
  <div class="container">
    <div class="row">

    <% @bikes.each do |bike| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url(<%= bike.photo %>);">
          <div class="card-category"><%= bike.category %></div>
          <div class="card-description">
            <h2><%= bike.description.first(30) %></h2>
            <p><%= bike.address %></p>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <i class="fas fa-user-circle card-user"></i>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</section>
