<div class ="container">
  <h1>Bikes list</h1>

<% if current_user %>
  <% @bikes.where.not(latitude: nil, longitude: nil).where(profil_id: current_user.profil.id).each do |bike| %>
    <div class="container">
      <%= link_to(bike_path(bike.id)) do %>  
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url(<%= bike.photo %>);">
              <div class="card-category"><%= bike.category %></div>
              <div class="card-description">
                <h2><%= bike.description.first(30) %></h2>
                <p><%= bike.address %></p>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <i class="fas fa-user-circle card-user"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

    <%= link_to "Créer un vélo", new_bike_path, class: "btn btn-primary" %>
</div>

