
<!-- <div class="container newbike">
  <h1>Ajouter un vélo</h1>
    <%= simple_form_for(@bike) do |f| %>
    <%= f.input :category, collection: ['Vtt', 'Vtc', 'Route', 'Bmx', 'Enfant'], prompt: 'Select category' %>
    <%= f.input :marque, collection: ['Peugeot', 'Btwin', 'Canondale'], prompt: 'Select marque' %>
    <%= f.input :description, placeholder: 'your description', error: 'Description is mandatory' %>
    <%= f.input :address, placeholder: 'your address', error: 'Address is mandatory' %>
    <%= f.input :zipcode, placeholder: 'your zipcode', error: 'zipcode is mandatory' %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "add bike", class: "btn btn-primary" %>
    <% end %>
</div> -->

<div class="container newbike">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="margin-top-0 wow fadeIn">Nouveau vélo à proposer à la location</h2>
            <hr class="primary">
        </div>

        <div class="col-lg-10 col-lg-offset-1 text-center">
            <form class="contact-form row">
              <%= simple_form_for(@bike) do |f| %>
                <div class="col-md-6">
                  <%= f.input :category, label: 'Catégorie', collection: ['VTT', 'VTC', 'Route', 'BMX', 'Enfant'], prompt: 'Selectionnez la categorie' %>
                </div>
                <div class="col-md-6">
                  <%= f.input :marque, label: 'Marque', collection: ['Peugeot', 'Btwin', 'Canondale'], prompt: 'Selectionnez la marque' %>
                </div>
                <div class="col-md-12">
                  <%= f.input :description, label: 'Description', placeholder: 'Description : ex : vélo en très bon état acheté en 2017', error: 'La description est requise' %>
                </div>
                <div class="col-md-6">
                  <%= f.input :address, label: 'Adresse', placeholder: 'Entrez votre adresse', error: "L'address est requise" %>
                </div>
                <div class="col-md-6">
                  <%= f.input :zipcode, label: 'Code Postal', placeholder: 'Code postal', error: 'Le code postal est requis' %>
                </div>
                <div class="col-md-4 col-md-offset-4">
                  <label class="btn btn-secondary">
                    Ajouter une image
                    <span style="display:none;">
                      <%= f.input :photo, required: true, multiple: true, error: 'Une image est requise'%>
                      <%= f.input :photo_cache, as: :hidden%>
                    </span>
                  </label>
                </div>
                <div class="col-md-4 col-md-offset-4">
                  <%= f.submit "Ajouter un vélo", class: "btn btn-primary btn-block btn-lg" %>
                </div>
              <% end %>
            </form>
        </div>
    </div>
</div>


