<div class="container showbike">


  <div class= "bikeinfo">
    <div class="row sizeboxbike">


      <div class="col-xs-12 col-md-6 col-lg-6">
            <%= cl_image_tag @bike.photo, height: 300, width: 400, crop: :fill, style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" %>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6">
        <h1><%= @bike.category %> - <%=@bike.marque%></h1>
              <hr class="primary hrbike">

        <h4>Âge : <%=@bike.age%> ans</h3>
        <h4>Adresse : <%=@bike.address%></h3>
        <p>Description : <%= @bike.description %></p>
        <br>
        <%= link_to "Réservez ce vélo", new_bike_rent_path(bike_id: @bike.id), class: "btn btn-primary"%>
        <%= link_to "Mettez le à jour", edit_bike_path(bike_id: @bike.id), class: "btn btn-primary"%>
        <%= link_to "Détruisez le", bike_path(bike_id: @bike.id), class: "btn btn-primary", method: :delete%>
      </div>


    </div>
  </div>
  <div class= "backtolist">
    <div class="row sizeboxbike">
      <div class="col-lg-6 col-lg-offset-3">
        <%= link_to "Back to list", bikes_path, class: "btn btn-primary text-center fullwidthbutton"%>
        </div>
      </div>
    </div>
  </div>
</div>
