
<div class="contentshow">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-lg-offset-2 col-xs-12">
      <div>
        <%= cl_image_tag @bike.photo, height: 300, width: 400, crop: :fill %>
      </div>

      <div class="container showbike">
        <h1><%= @bike.category %> - <%=@bike.marque%></h1>
        <h2><%=@bike.age%></h2>
        <h3><%=@bike.address%></h3>
        <p><%= @bike.description %></p>
        <%= link_to "Réserver", rents_path, class: "btn btn-primary"%>
      </div>

      <div class="col-md-4 col-md-offset-4">
        <div class="centered">
          <%= link_to "Back to list", bikes_path, class: "fas fa-chevron-left btn btn-primary"%>
        </div>
      </div>
    </div>
    <div>
      <%= link_to "Réservez ce vélo", new_bike_rent_path(bike_id: @bike.id), class: "btn btn-primary"%>
    </div>
  </div>
</div>
