<div class="showprofile">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-xs-4 col-xs-offset-4">
            <h1 class="titleprofile"><%= @profil.first_name.upcase%> <%= @profil.last_name.upcase %></h1>
            <p>Adresse : <%= @profil.address %></p>

            <p>Email : <%= current_user.email %></p>
            <p>Téléphone : <%= @profil.tel %></p>
            <p>Iban : <%= @profil.iban %></p>
            <br>
            <div class="container">
              <% @profil.bikes.each do |bike| %>
              <%= image_tag "#{bike.photo}" %>
              <% end %>
            </div>
            <%= link_to "Back Home", root_path, class: "btn btn-primary"%>
        </div>
    </div>

      <div class="col-lg-4 col-lg-offset-4 col-xs-4 col-xs-offset-4">
            <p>Ajouter boutton pour Photo, la photo doit s'afficher en dessous</p>
            <p><%= @profil.photo %></p>
      </div>
    </div>
</div>
