<div class="showprofile">
  <div class= "profilinfo">
    <div class="row sizeboxprofile">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="text-center">Mon profil</h1>
        <hr>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div><%= cl_image_tag(@profil.photo,:transformation=>[
        {:width=>350, :height=>350, :gravity=>"face", :radius=>"max", :crop=>"crop"},
        {:width=>200, :crop=>"scale"}], class: "imagestyleprofil") %></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <% if @profil.first_name || @profil.last_name%>
            <h2 class="titleprofile"><%= @profil.first_name.upcase%>  <%=@profil.last_name.upcase %></h2>
          <% end %>
          <p>Adresse : <%= @profil.address %></p>
          <p>Email : <%= current_user.email %></p>
          <p>Téléphone : <%= @profil.tel %></p>
          <p>Iban : <%= @profil.iban %></p>
        </div>


      </div>
  </div>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="col-xs-12 col-md-6 col-lg-4 text-center">

        </div>
      <br>
      <div class="col-xs-6 text-center">
        <%= link_to "Editer mon profil", edit_profil_path, class: "btn btn-primary"%>
      </div>
      <div class="col-xs-6 text-center">
        <%= link_to "Voir mes vélos", bikes_path, class: "btn btn-primary"%>
      </div>
      <div class="col-xs-12 text-center">
        <%= link_to "< Retour sur la page d'accueil", root_path, class: "btn btn-secondary"%>
      </div>
    </div>
</div>
</div>
