<div class="container loginview">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1 class="margin-top-0 wow fadeIn text-center">Se connecter</h1>
      <hr class="primary">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        placeholde: "johndoe@gmail.com",
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        label: "Mot de Passe",
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me,label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Je me connecte", class:"btn btn-primary text-center fullwidthbutton" %>
          </div>
        <% end %>

      <div class="text-center"> <%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>
